<nav class="navbar ">
  <div class="contentLogo">
    <a href="#" class="flex items-center space-x-3 ">
        <img src="/Concesionario-autos/imagenes/imagenesWelcome/descarga.png" alt="Logo" />
        <span class="textNav"> Automotriz <br> Estrellado </span>
    </a>
    
    <div class="hidden w-full md:block md:w-auto" id="navbar">
      <ul class=" nav-botones">
        <li>
          <a routerLink="" class="nav-enlace" aria-current="page">Home</a>
        </li>
        
        <li>
          <a routerLink="formulario" class="nav-enlace" aria-current="page">Formulario</a>
        </li>
        <li>
          <a routerLink="nosotros" class="nav-enlace">Nosotros</a>
        </li>
        <li>
          <a routerLink="vehiculos" class="nav-enlace">Vehículos</a>
        <li>
          @if (!authentication.login) {
            <a routerLink="registro" class="nav-enlace">Registrarse</a>
          }
        </li>
        <li class="cerrar" >
          <a routerLink="#" class="nav-enlace">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
