<div class="d-flex flex-wrap gap-4 justify-content-center my-5">
  <!-- Tarjeta 1 -->
  <div class="card1" style="width: 26rem;">
    <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be" class="card-img-top" alt="Sobre nosotros">
    
  </div>
  <div class="card-body">
      <h5 class="card-title text-primary fw-bold">Sobre nosotros</h5>
      <p class="card-text">
        Somos un concesionario automotriz comprometido con la calidad y el servicio al cliente, ofreciendo una amplia gama de vehículos y servicios mecánicos.
      </p>
    </div>

  <!-- Tarjeta 2 -->
  <div class="card2" style="width: 26rem;">
    <img src="https://images.unsplash.com/photo-1517180102446-f3ece451e9d8" class="card-img-top" alt="Nuestra misión">
    <div class="card-body">
      <h5 class="card-title text-success fw-bold">Nuestra misión</h5>
      <p class="card-text">
        Brindar soluciones automotrices integrales con excelencia, responsabilidad y atención personalizada en cada servicio.
      </p>
    </div>
  </div>

  <!-- Tarjeta 3 -->
  <div class="card3" style="width: 26rem;">
    <img src="https://images.unsplash.com/photo-1603791440384-56cd371ee9a7" class="card-img-top" alt="Nuestro equipo">
    <div class="card-body">
      <h5 class="card-title text-dark fw-bold">Nuestro equipo</h5>
      <p class="card-text">
        Profesionales apasionados por la mecánica, comprometidos con la seguridad y satisfacción de nuestros clientes.
      </p>
    </div>
  </div>
</div>
