
<div id="carouselExampleIndicators" class="carousel slide shadow-lg rounded border border-3 border-secondary overflow-hidden mx-auto" style="max-width: 800px;" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="https://i.postimg.cc/5tmXm85Q/depositphotos-93189632-stock-illustration-silvery-blazon-with-pentagonal-star.webp"
        class="d-block w-100 object-fit-cover" alt="..." style="height: 300px;">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://www.chevrolet.com.ec/content/dam/chevrolet/south-america/ecuador/espanol/index/cars/showroom/masthead/01-images/2023-masthead-autos-xl.jpg?imwidth=960"
        class="d-block w-100 object-fit-cover" alt="..." style="height: 300px;">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://www.autofondochevrolet.com.pe/content/dam/chevrolet/sa/pe/es/master/home/cars/jelly-sail.jpg?imwidth=1920"
        class="d-block w-100 object-fit-cover" alt="..." style="height: 300px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
