
  .card1 {
    border-radius: 0.75rem; /* rounded-lg */
    box-shadow: 0 8px 16px rgba(227, 221, 221, 0);
    transition: transform 0.3s ease;
  }
  .card1:hover {
    transform: scale(1.03);
  }

  .botonImg {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: #1E40AF; /* azul más serio y profesional */
    color: white;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(30, 64, 175, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
  }
  .botonImg:hover {
    background-color: #1E3A8A; /* azul más oscuro */
    box-shadow: 0 6px 20px rgba(30, 58, 138, 0.6);
  }

  .textoElegante {
    background: #F3F4F6; 
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0,0,0,0.05);
  }

  hr {
    border-color: #E5E7EB;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }